<div class="comment" id="<%= dom_id comment %>">
  <div class="stuff">
    <%=render comment.composers%>
    <%=render comment.pieces%>
    <%=render comment.concerts%>
  </div>

  <h5>
    <%= comment.title %>
  </5>

  <p>
    <%= comment.content %>
  </p>

</div>
