<%= form_with(model: piece) do |form| %>
  <% if piece.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

      <ul>
        <% piece.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="autocomplete" style="width:300px;" id="addacomposerforpiece">
      <input type="text" name="myComposer" placeholder="Composer Name" id='myComposer<%=params[:nb]%>'>
               </div>
               <a href="" data-id="<%=params[:nb]%>" onclick="$.ajax({data:{name:$('#myComposer').val()},url:'/mynew/mycomposer',success:function(data){$('.composers').append(data);}});return false;" class="addcomposer">add composer</a>
  <div id="composer_id">
     <%=form.collection_radio_buttons(:composer_id, Composer.where(id:piece.composer_id), :id, :name, include_hidden: false) do |b| %>
              <%=b.label(class: "radio_button") do%> <%= b.radio_button(checked:true,class: "radio_button")%>
                         <%=render b.object%>
                                <%end%>
                                     <%end%>

  </div>
  <div class="composers">
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :comment_id, style: "display: block" %>
    <%= form.number_field :comment_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
