<p>piece <%=params[:nb].to_i + 1%>

<%=fields_for(:post,Post.new, include_id:false) do |f|%>
  <%=f.fields_for(:comments,Comment.new, :include_id => false,child_index:params[:nbcomment]) do |form|%>
     <div>
            <%=%>
                 <%=form.collection_check_boxes(:piece_ids, Piece.where(title:params[:name]), :id, :title, include_hidden: false) do |b| %>
                          <%=b.label(class: "radio_button") do%> <%= b.check_box(checked:true,class: "radio_button")%>
                            <%=b.text%>
                                   <%end%>
                                        <%end%>

                                                       </div>

                                                     <%end%>
                                                   <%end%>
