<p style="color: green"><%= notice %></p>

<%= render @concert %>

<div>
  <%= link_to "Edit this concert", edit_concert_path(@concert) %> |
  <%= link_to "Back to concerts", concerts_path %>

  <%= button_to "Destroy this concert", @concert, method: :delete %>
</div>
