<div id="<%= dom_id post %>">
  <div class="player">
      <video controls>
        <source src="/uploads/<%=post.vid%>" type="video/mp4">
            <source src="/uploads/<%=post.vid%>" type="video/webm">
                    <!-- fallback contenu ici -->
                      </video>
                        <div class="controls">
                              <button class="play" data-icon="P" aria-label="bascule lecture pause"></button>
                                  <button class="stop" data-icon="S" aria-label="stop"></button>
                                      <div class="timer">
                                              <div></div>
                                                    <span aria-label="timer">00:00</span>
                                                        </div>
                                                            <button class="rwd" data-icon="B" aria-label="retour arrière"></button>
                                                                <button class="fwd" data-icon="F" aria-label="avance rapide"></button>
                                                                  </div>
  </div>

  <h5>
    <%= post.title %>
  </h5>

  <p>
    <%= post.content %>
  </p>
  <%=render post.comments%>

  <p hidden>
    <%= post.user_id %>
  </p>


  <p hidden>
    <%= post.room_id %>
  </p>

</div>
